<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Burgers!</title>

		<link rel="stylesheet" href="assets/burger_style.css" type="text/css" />

		<script src="https://code.jquery.com/jquery.js"></script>

	</head>

	<body>

		{{{body}}}
		
	</body>

</html>