<h1>BURGERS</h1>

<h1>Menu of Burgers</h1>

	<ul>
		{{#each burgers}} {{!-- pulls from CRUD functions in burger.js --}}
			{{#unless devoured}}
				{{burgers/burger-block devoured=false}}
			{{/unless}}
		{{/each}}
	</ul>

	<button type="button">Devour it!</button>


<h2>Burgers Devoured</h2>


<h1>Build A Burger</h1>
	<form class="create-form">
	   <div class="form-group">
	        <label for="ba">Burger Name:</label>
	        <input type="text" id="ba" name="name">
	    </div>

	    <div class="form-group">
	         <label for="devoured">Devoured?</label><br>     
	         <input type="radio" name="devoured" value="1" checked> YUM!<br>
	         <input type="radio" name="devoured" value="0"> Have one!
	    </div>   

	    <button type="submit">Add Burger</button> 
	</form>


	<button type="button">Build it!</button>
